
@{
    ViewBag.Title = "Index";
}

<h2>Boilerplate for React and Babel</h2>

<main>
    <div id="reactTypeScriptContainer"></div>
</main>


@section Footer {
    <script src="~/Scripts/React/dist/bundle.js"></script>
}
